<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpenseTreacker</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
 <div id="Signupdiv">   
   <form action="" class="expenseform" id="expenseform"method="POST">
         <label for="money">Money Had Spent:</label>
         <input type="text"class="formitem"  id="money" name="money"><br>
         <label for="desc">Description:</label>
         <input type="text" class="formitem" id="desc" name="desc"><br>

         <label for="category">Choose a category:</label>

         <select name="category" id="category">
           <option value="Food">Food</option>
           <option value="Petrol">Petrol</option>
           <option value="Health">Health</option>
           <option value="Entertainment">Entertainment</option>
           <option value="fitness">Fitness</option>
           <option value="Kids">Kids</option>
           <option value="Education">Education</option>
         </select>
         <button class="submit" id="addexpense">Submit</button>
        
   </form>
  
   <div class="expenses" id="expenses">

   </div>
   

</div>
<script src="expensefeautres.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>