<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="../utils/style.css">
</head>
<body>
<form action="" class="loginform" method="POST">
    <label for="name">Name:</label>
    <input type="text"class="formitem" name="name"> <br>
    <label for="email">Email:</label>
    <input type="email"class="formitem" name="email"><br>
    <label for="phoneno">Phone no:</label>
    <input type="tel" class="formitem"name="phoneno"><br>
    <label for="password">Password:</label>
    <input type="password" class="formitem"name="password"><br>
    <button class="loginbutton">LOGIN</button>
    <button class="signupbutton">SIGNUP</button>
</form>
    
</body>
</html>